@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Pacifico&family=Roboto:ital,wght@0,100;1,100&display=swap');

.about-title{

    font-weight: bold;
    text-align: center;
    margin-top: 20px;

}

.about-title > p{

    color:#037582;
    font-size: xx-large;
    font-family: 'Pacifico', cursive;
}

.about-title > h1{

    text-transform: uppercase;
    margin-bottom: 20px;

}

.about-img>img{

    width:80%;
    height:80%;
    border-radius: 20px;
    margin-left: 5rem;
}

.about-info > p{

    
    font-size: large;
   

}
